
#- Change to your installation of Qt5.4
export QTDIR=~/Qt5.4.2/5.4/gcc_64

#- No need to change these
export QTVER=qt5
export PATH=$QTDIR/bin/:$PATH
export LD_LIBRARY_PATH=$QTDIR/lib/:$LD_LIBRARY_PATH
export PKG_CONFIG_PATH=$QTDIR/lib/pkgconfig/:$PKG_CONFIG_PATH
export QT_PLUGIN_PATH=$QTDIR/lib/plugins/
